* {
    font-family: "Roboto", Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}
html, body {
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
}

.navbar ul.navbar-content {
    list-style: none;
    padding: 0;
}

.content {
    font-size: 30px;
    top: calc(50% - 100px);
    position: relative;
    text-align: center;
}
.content button {
    border: 0;
    background-color: transparent;
}
.content button span {
    font-size: 20px;
}

#dummyElement {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.screen {
    position: absolute;
    /*z-index: 2;*/
}

.full.screen {
    height: 100%;
    width: 100%;
}

.egg.screen {
    z-index: 2;
}

.responsive-container {
    width: 90%;
    max-width: 500px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: block;
}


/* position */
.right {
    right: 0;
}

.center {
    top: 50%;
}

.left {
    left: 0;
}



.row:before {
    display: table;
    content: " ";
}

.row:after {
    display: table;
    content: " ";
    clear: both;
}
.col{
    float: left;
}
.half {
    width: 50%;
}

.fa[socialshare] {
    background: #323232;
    display: inline-block;
      width: 2em;
      height: 2em;
      color: white;
      border-radius: 1.25em;
      border-color: transparent;
      margin: 0px 3px;
}


/* bike application */
.bike {
    width: 280px;
}
.bike.center {
    margin-top: -130px;
}
.bike.right {
    margin-right: 20px;
}
.bike .onright {
    padding-left: 12px;
}
.bike .onleft {
    padding-right: 12px;
}
.bike p {
    font-size: 0.7em;
}

.bike h3 {
    font-size: 1.3em;
}

.bike.trail {
    position: absolute;
    z-index: -1;
    left: 23px;
    bottom: 0;
}

.bike.trail > div{
    display: block;
    width: 7px;
    background: #fff url(../images/trail.png) repeat-y;
}




@media (max-width: 480px) {  
    .bike {
        width: 185px;
    }
    .bike .onright {
        padding-left: 8px;
    }
    .bike .onleft {
        padding-right: 8px;
    }
    .bike p {
        font-size: 7px;
    }

}

/* ngAnimate */
.white {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity:0.7;
}
.bottom-word.screen {
    z-index: 1;
}
.bottom-word {
    bottom: 30px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    width: 100%;
    text-align: center;
}

.white.ng-enter, .white.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.white.ng-enter,
.white.ng-leave.ng-leave-active {
  opacity:0;
}

.white.ng-leave,
.white.ng-enter.ng-enter-active {
  opacity:0.7;
}