* {
    font: 100%/1.5 "Roboto", Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
}
html, body {
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
}

.navbar ul.navbar-content {
    list-style: none;
    padding: 0;
}

.content {
    font-size: 30px;
    top: calc(50% - 100px);
    position: relative;
    text-align: center;
}
.content button {
    border: 0;
    background-color: transparent;
}
.content button span {
    font-size: 20px;
}

#dummyElement {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.screen {
    position: absolute;
    z-index: 2;
}

/* ngAnimate */
.white {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity:0.7;
}

.bottom-word {
    bottom: 30px;
    font-weight: bold;
    font-size: 25px;
    color: white;
    width: 100%;
    text-align: center;
}

.white.ng-enter, .white.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.white.ng-enter,
.white.ng-leave.ng-leave-active {
  opacity:0;
}

.white.ng-leave,
.white.ng-enter.ng-enter-active {
  opacity:0.7;
}