<div class="screen egg bottom-word" ng-if="!page1.show">
    <span ng-if="page1.cnt % 3 == 0">ゆっくりスクロール</span>
    <span ng-if="page1.cnt % 3 == 1">はやくスクロール</span>
    <span ng-if="page1.cnt % 3 == 2">早くも遅くもない<br />スクロール</span>
    <br/>しても。。。
</div>
<div class="screen egg white" ng-if="page1.show">
    <div class="content">
        <p>卵が割れます</p>
        <div ng-if="page1.cnt % 3 == 0">
            <p>ありがとうございます</p>
            <div>
                <button 
                    class="fa fa-twitter" 
                    socialshare 
                    socialshare-provider="twitter" 
                    >
                </button>

                <button 
                    class="fa fa-facebook" 
                    socialshare 
                    socialshare-provider="facebook" 
                    >
                </button>

            </div>
        </div>
        <button ng-if="page1.cnt % 3 != 0" ng-click="page1.reset()">
            <img src="images/icon/ic_retry.png"><br/>
            <span>もう一回</span>
        </button>
    </div>
</div>